
.vscode/
.idea/

backend/.env

backend/venv/

backend/__pycache__/
**/*.pyc

backend/app_index.json
backend/uploads/
backend/outputs/
command.wav
response.wav

backend/youtube_voice.wav
backend/default_voice.wav

backend/check_wav.py
backend/list_models.py


desktop-app/node_modules/

npm-debug.log*
yarn-error.log*